*{
    margin:0;
    padding:0;
    border:0;
    scroll-behavior: none;
    scrollbar-width: none;
}
.background{
    height: 320vh;
    width:100vw;
    background-image: url(bg2.jpg);
    background-size: contain; 
}
body{
    height:100%;
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstpage{
    display: flex;
    position: absolute;
    top:0vh;
    left:4vw;
    height:90vh;
    width:90vw;
    border:2px solid white;
    border-radius: 40px;
    box-shadow: 4px 4px 10px 8px rgb(236, 236, 238);
    background-color: black;
    margin-top: 2%;
}
nav{
    height:10vh;
    width:100%;
}
nav ul {
    display: flex;
    flex-direction: row;
    gap:3vw;
    list-style: none;
    font-size: 1.5vw;
    margin-top: 2vh;;
}
nav ul a{
    text-decoration: none;
    color:white;
    border: none;
}
nav ul a:hover ,:focus{
    color:red;
    text-decoration: underline;
    text-shadow: 0 0 5px rgb(0, 21, 255),0 0 10px blue,0 0 20px blue;

}
nav ul #port{
    color:white;
    font-size: 2.5vw;
    font-family: poppins;
    position: relative;
    left:1vw;
    font-weight: 700;
}
nav ul #folio{
    color:blue;
    font-size: 2.5vw;
    font-family: poppins;
    position: relative;
    left:-1.7vw;
    font-weight: 700;
}
nav ul .list2{
    color:white;
    position: relative;
    left:30vw;
    top:1vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
nav ul img{
    height:6vh;
    width:3.5vw;
    position: relative;
    left:37vw;
    top:-0.5vh;
    border-radius: 50%;
    border:2px solid white;
}
.welcome{
    display: flex;
    justify-content: flex-start;
    position:absolute;
    left:5vw;
    top:30vh;
    color:white;
}
.welcome #hii{
    font-size: 2vw;
    position: relative;
    left:0vw;
}
.welcome #my{
    font-size: 2vw;
    position: relative;
    top:8vh;
    left:-5.5vw;
    color:red;
}
.welcome #name{
    font-size: 2vw;
    position: relative;
    top:8vh;
    left:-4.8vw;
    color:white;
}
.welcome #is{
    font-size: 2vw;
    position: relative;
    top:8vh;
    left:-4.2vw;
    color:white;
}
.welcome #t{
    font-size: 5vw;
    position: relative;
    top:15vh;
    left:-15.2vw;
    color:Red;
    animation:4s fade-in linear;
    animation-delay: 0s;
}
@keyframes  fade-in {
    from{
        opacity: 0;
        scale:1;
    }to{
        opacity: 1;
        scale:1;
    }
    
}
.welcome #apan{
    font-size: 4vw;
    position: relative;
    top:17vh;
    left:-15.8vw;
    color:white;
    animation:5s fade-in linear;
    animation-delay: 0.1s;
}
.welcome #b{
    font-size: 5vw;
    position: relative;
    top:15vh;
    left:-14.5vw;
    color:Red;
    animation:4s fade-in linear;
    animation-delay: 0s;
}
.welcome #oruah{
    font-size: 4vw;
    position: relative;
    top:17vh;
    left:-14.5vw;
    animation:5s fade-in linear;
    animation-delay: 0.1s;
}
.contact{
    position:relative;
    top:28vh;
    left:-43.7vw;
}
.contact img{
    height:4vh;
    width:2vw;
    margin-left: 1vw;
}
.contact .insta{
    border-radius: 7px;
    height:4.5vh;
    width:2.2vw;
}
.contact .linked{
    height:4.5vh;
    width:2.2vw;
}
.contact .git{
    height: 6vh;
    width:3vw;
    position: relative;
    top:1vh;
    left:-0.5vw;
} 
.contact .whatsapp{
    height:5vh;
    width:2.5vw;
    position: relative;
    top:0.3vh;
    left:-1vw;
    border-radius: 50px;
}
.secondpage{
    display: flex;
    position:relative;
    top:45vh;
    left:0vw;
    height:90vh;
    width:90vw;
    border:2px solid white;
    border-radius: 40px;
    box-shadow: 4px 4px 10px 8px rgb(236, 236, 238);
    background-color:#191a1e;
    margin-top: 2%;
}
.secondpage .about{
    height:7vh;
    width:19vw;
    color:rgb(255,0,0);
    font-family: poppins;
    position: relative;
    top:10vh;
    left:10vw;
    border:2px solid white;
    border-radius:30px;
    background-color:#d5dbe5;
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.secondpage .text0{
    position:relative;
    top:15vh;
    left:5vw;
    font-size: 2vw;
    padding:1vh;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.secondpage .text2{
    font-size: 3.5vw;
    color:rgb(255,0,0);
}
.secondpage .text3{
    font-size: 3vw;
}
.secondpage .more{
    height: 5vh;
    width:13vw;
    font-size: 1.5vw;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(255,0,0);
    margin-top: 3vh;
    text-decoration: none;
}
.secondpage .more:hover ,:focus{
    text-shadow: 0 0 5px red,0 0 10px red,0 0 20px red;
    box-shadow: 0 0 5px red,0 0 10px red,0 0 20px red;
}
.thirdpage{
    display: flex;
    position:relative;
    top:60vh;
    left:0vw;
    height:90vh;
    width:90vw;
    border:2px solid white;
    border-radius: 40px;
    box-shadow: 4px 4px 10px 8px rgb(236, 236, 238);
    background-color:#090a0b;
    margin-top: 2%;
    margin-bottom: 2%;
}
.thirdpage .edu{
    height:7vh;
    width:19vw;
    color:rgb(51, 16, 249);
    font-family: poppins;
    position: relative;
    top:10vh;
    left:10vw;
    border:2px solid white;
    border-radius:30px;
    background-color:#d5dbe5;
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.thirdpage .course{
    position:relative;
    top:15vh;
    left:5vw;
    font-size: 2vw;
    padding:1vh;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.thirdpage .course2{
    font-size: 3vw;
    color:rgb(51,16,249);
}
.thirdpage .course4{
    font-size: 3.5vw;
    color:rgb(51,16,249);
}
.thirdpage .more2{
    height: 5vh;
    width:13vw;
    font-size: 1.5vw;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(51,16,249);
    margin-top: 3vh;
    text-decoration: none;
}
.thirdpage .more2:hover,:focus{
    text-shadow: 0 0 5px blue,0 0 10px blue,0 0 20px blue;
    box-shadow: 0 0 5px blue,0 0 10px blue,0 0 20px blue;
}
@media only screen and (max-width:480px){
    nav ul a{
        display: none;
    }
    nav ul{
        display: flex;
        gap:3vw;
    }
    nav ul img{
        position: relative;
        left:10vw;
        width:12vw;
    }
    nav ul #port,nav ul #folio{
        font-size: 8vw;
        position: relative;
        left:1vw;
    }
    .welcome{
        display: flex;
        justify-content: flex-start;
        position:relative;
        height:70vh;
        width:80vw;
        top:-25vh;
        left:10vw;
    }
    .welcome #hii{
        font-size: 6vw;
        height:4vh;
        position: relative;
        left:-4vw;
        top:14vh;
    }
    .welcome #my{
        font-size: 8vw;
        height:4vh;
        position: relative;
        top:20vh;
        left:-20.5vw;
        color:red;
    }
    .welcome #name{
        font-size: 8vw;
        height:4vh;
        width: 50vw;
        position: relative;
        top:27vh;
        left:-31.8vw;
        color:white;
    }
    .welcome #is{
        font-size: 8vw;
        height:4vh;
        width: 50vw;
        position: relative;
        top:27vh;
        left:-25vw;
        color:white;
    }
    .welcome #t{
        font-size: 14vw;
        position: relative;
        top:33vh;
        left:-59.5vw;
        height:4vh;
        color:Red;
        animation:4s fade-in linear;
        animation-delay: 0s;
    }
    @keyframes  fade-in {
        from{
            opacity: 0;
            scale:1;
        }to{
            opacity: 1;
            scale:1;
        }
        
    }
    .welcome #apan{
        font-size: 14vw;
        position: relative;
        top:33vh;
        left:-59.8vw;
        color:white;
        height:4vh;
        animation:5s fade-in linear;
        animation-delay: 0.1s;
    }
    .welcome #b{
        font-size: 14vw;
        position: relative;
        top:43vh;
        left:-97.5vw;
        color:Red;
        animation:4s fade-in linear;
        animation-delay: 0s;
    }
    .welcome #oruah{
        font-size: 14vw;
        position: relative;
        top:43vh;
        left:-95.5vw;
        animation:5s fade-in linear;
        animation-delay: 0.1s;
    }
    .contact{
        display: flex;
        gap:1vw;
        position: relative;
        top:60vh;
        left:-100vw;
        width:100vw;
    }
    .contact .insta{
        position: absolute;
        top:0.5vh;
        left:-50vw;
        border-radius: 7px;
        height:4.5vh;
        width:8vw;
    }
    .contact .linked{
        position: absolute;
        top:0.5vh;
        left:-40vw;
        height:4.5vh;
        width:8vw;
    }
    .contact .git{
        height: 6vh;
        width:10vw;
        position: absolute;
        top:0vh;
        left:-30vw;
    } 
    .contact .whatsapp{
        height:5vh;
        width:10vw;
        position: absolute;
        top:0.3vh;
        left:-20vw;
        border-radius: 50px;
    }

}